{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Read" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h5>{{ sale.application }}</h5>
		</div>
		<div class="card-body">
			<table>
				<tr>
					<td><p><strong>{% trans "dates" %}</strong>:</p></td>
					<td><p>{{ sale.dates | date:"d.m.Y H:i"}}</p></td>
				</tr>
				<tr>
					<td><p><strong>{% trans "service" %}</strong>:</p></td>
					<td><p>{{ sale.service }}</p></td>
				</tr>
				<tr>
					<td><p><strong>{% trans "payment" %}</strong>:</p></td>
					<td><p>{{ sale.payment }}</p></td>
				</tr>
			</table>
		</div>
		<div class="card-footer">				
		</div>
	</div>
	<div class="row justify-content-center">
		<a class="btn btn-outline-info" style="width:120px" href="{% url 'sale_index' application_id  %}">{% trans "Back" %}</a>      	
	</div>
</div>
{% endblock content %}