{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "App Name" %}{% endblock title %}
{% block header %}

{% endblock header %}
{% block content %}

<div class="div-width-100-text-center">
	<h3>Sunlight</h3>
</div>
<div class="row">
	<br>
	<h5>Рекламно-производственная компания с собственным производством полиграфической продукции, со своими дизайнерами, с продажей и брендированием сувенирной продукции и отличным сервисом.</h5>
	<br>
</div>
<div class="row">
	<div class="card">
		<div class="card-header">
			<h3>ЦИФРОВАЯ ПОЛИГРАФИЯ</h3>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">
					<p>Оперативная цифровая печать в Алматы. Визитки, листовки, бланки, стикеры, буклеты, блокноты, каталоги и многое другое. Визитки от 19 тенге. Цветной А4 на обычной бумаге 70 тенге.  Полиграфический онлайн-калькулятор для удобства и скорости просчёта.</p>
				</div>
				<div class="col-md-4">
					<img src="{% static 'images/index1.jpg' %}" class="img-center3">
				</div>
			</div>
		</div>
		<div class="card-footer">
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			<h3>ДИЗАЙН И КРЕАТИВ</h3>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">
					<p>В штате компании 4 дизайнера. Разработка логотипа, торговой марки, фирменного стиля. Дизайн полиграфической продукции, наружной рекламы, web-баннеров и многого другого, а также адаптация и отрисовка ножей.</p>
				</div>
				<div class="col-md-4">
					<img src="{% static 'images/index2.jpg' %}" class="img-center3">
				</div>
			</div>
		</div>
		<div class="card-footer">
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			<h3>ВЕРСТКА ПОЛИГРАФИЧЕСКОЙ ПРОДУКЦИИ</h3>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">
					<p>Вёрстка любой сложности – каталогов, журналов, книг. Услуга предпечатной подготовки файлов, а также доработка под требования типографии.</p>
				</div>
				<div class="col-md-4">
					<img src="{% static 'images/index3.jpg' %}" class="img-center3">
				</div>
			</div>
		</div>
		<div class="card-footer">
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			<h3>СУВЕНИРНАЯ ПРОДУКЦИЯ</h3>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">
					<p>Огромный выбор сувенирной продукции в наличии в Алматы и на заказ. Нанесение логотипа и брендирование подарков и сувенирной продукции: УФ-печать, гравировка, шелкография, тампопечать, тиснение, металлостикер.</p>
				</div>
				<div class="col-md-4">
					<img src="{% static 'images/index4.jpg' %}" class="img-center3">
				</div>
			</div>
		</div>
		<div class="card-footer">
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			<h3>ФОТОРЕТУШЬ И ЦВЕТОКОРРЕКЦИЯ</h3>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">
					<p>Обработка фотографий, восстановление старых фото, оперативная фоторетушь и цветокоррекция. Услуга высококачественного сканирования фотографий.</p>
				</div>
				<div class="col-md-4">
					<img src="{% static 'images/index5.jpg' %}" class="img-center3">
				</div>
			</div>
		</div>
		<div class="card-footer">
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			<h3>КОПИРАЙТИНГ</h3>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">
					<p>Брендинг, нейминг, все виды написания текстов: от слоганов до полноценных рекламных концепций. SEO-тексты. Копирайтинг на казахском языке.</p>
				</div>
				<div class="col-md-4">
					<img src="{% static 'images/index6.jpg' %}" class="img-center3">
				</div>
			</div>
		</div>
		<div class="card-footer">
		</div>
	</div>
</div>

{% endblock content %}

